<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <title>To do list</title>
</head>
<body>


    <div id="app">
        <div class="header">
            <div id="date">{{ date }}</div>
        </div>
        <div class="content">		
            <ul>
                <todo-item v-for='item in todos' v-if="!item.del"  v-bind:todo='item' v-bind:id='item.id' v-bind:compl='item.compl' v-bind:complete='complete' v-bind:del='del'></todo-item>
            </ul>
        </div>
        <div class="add-to-do">
            <input type="text" id="input" placeholder="Add a to-do" v-model="newTodo">
            <button @click="addTodo">Add</button>
		</div>
        
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="script.js"></script>
</body>
</html>